name: FINAL_RDP_DIRECT
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Configure Ngrok
        run: ngrok config add-authtoken 37J4U5jObChNglLnWMWZsmiJzxh_5oGgi1nnRNQfRFf1qC2eN

      - name: Enable Windows RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Start Ngrok Tunnel Direct
        run: |
          # Is baar hum ngrok ko direct run karenge takay address logs mein dikhayi de
          Write-Host "Starting tunnel... Address will appear below in a few seconds."
          ngrok tcp --region ap 3389
